.payment {
   padding: 2rem 0;

   h2 {
      color: $primary-color;
      margin-bottom: 1rem;
   }

   form {
      div {
         margin: 0.5rem 0;

         input[type='checkbox'] {
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 100%;
            padding: 0;
            vertical-align: middle;
            border: 2px solid $primary-color;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            transition: all ease-in 0.1s;
            cursor: pointer;
         }

         input[type='checkbox']:checked {
            background-color: $primary-color;
            width: 1rem;
            height: 1rem;
         }

         label {
            font-size: 1.1rem;
            cursor: pointer;
         }
      }

      button {
         background-color: $primary-color;
         color: $white-color;
      }
   }
}
