#products {
   .products {
      button {
         background-color: $primary-color;
         color: $white-color;
         padding: 0.5rem 1rem;
         margin: 1.5rem 0;
         font-size: 1rem;
         outline: none;
         border: none;
         cursor: pointer;
      }

      .product {
         display: grid;
         grid-template-columns: repeat(2, 1fr);

         .img {
            img {
               height: 100%;
            }
         }

         .content {
            padding: 0 3rem;
            h2 {
               font-size: 3rem;
               color: $primary-color;
            }

            h3 {
               font-size: 1.5rem;
            }

            form {
               p {
                  margin-top: 0.5rem;
                  color: $primary-color;
               }
               select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  outline: none;
                  border: none;
               }

               .select {
                  position: relative;
                  overflow: hidden;

                  select {
                     border: 2px solid $primary-color;
                     padding: 0.5rem 1rem;
                     margin: 0.5rem 0;
                     width: 100%;
                     font-size: 1.2rem;
                     cursor: pointer;
                     position: relative;
                  }
               }

               .select::after {
                  content: '\25BC';
                  position: absolute;
                  color: $primary-color;
                  top: 15%;
                  right: 0;
                  padding: 0.4rem 1rem;
                  pointer-events: none;
                  transition: all ease-in 0.5s;
               }

               .select:hover::after {
                  background: $primary-color;
                  color: $white-color;
               }

               button {
                  font-size: 1.5rem;
                  width: 100%;
               }
            }
         }
      }
   }
}

.line {
   background-color: $primary-color;
   width: 75%;
   margin: 4rem auto;
   height: 1px;
}

.description,
.key-features {
   h3 {
      font-size: 1.5rem;
      color: $primary-color;
      margin-bottom: 2rem;
   }

   li {
      margin: 1rem 0;

      i {
         color: $primary-color;
      }

      span {
         color: $primary-color;
      }
   }
}

.key-features {
   margin-bottom: 4rem;
}
